* {margin: top 5% bottom 5%;}
h1 {text-align: left; background-color: black;}
#my {color: white; font-size: 75px;}
#cloud {color: cyan; font-size: 75px;}

#cp {font-style: italic; text-align: center; color: white; background-color: purple; font-size: 50px;}

#contact {font-size: 35px; text-align: right; text-decoration: underline; color: black; background-color: lightblue;}