<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Contact Me</title>
</head>
<body>
    <div class="main">
        @* header *@
        <h4 class="header"><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h4>
        <h3 class="title">Contact Me</h3>
        <form action="/">
            <div class="body" style="gap: 100px;">
                <div class="colleft">
                    <label>Name 
                        <input type="text">
                    </label>
                    <label>Email 
                        <input type="email">
                    </label>
                </div>
                <div class="colleft">
                    <label> Message</label>
                    <textarea></textarea>
                    <button class="btn" type="submit" style="margin-top: 10px">Send</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>