<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Welcome</title>
</head>
<body>
    <div class="main">
        @* header *@
        <h4 class="header"><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h4>
        <h3 class="title">About Me</h3>
        <div class="body">
            <div class="colleft">
                <img class="largeimgfill">
                <h5 style="text-align: center;">Moose Phillips</h5>
                <h5 style="text-align: center;">I like stuff!!!</h5>
            </div>
            <div class="paragraphs">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra adipiscing at in tellus integer feugiat scelerisque varius morbi. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Nullam eget felis eget nunc lobortis. Turpis nunc eget lorem dolor sed viverra ipsum. Morbi tristique senectus et netus et malesuada fames. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Eget arcu dictum varius duis. Odio euismod lacinia at quis. Scelerisque mauris pellentesque pulvinar pellentesque. Massa tincidunt dui ut ornare lectus sit amet est. At risus viverra adipiscing at. Erat nam at lectus urna duis convallis convallis tellus id. Sed elementum tempus egestas sed sed risus pretium quam. Id diam vel quam elementum. Parturient montes nascetur ridiculus mus mauris vitae. Nullam non nisi est sit amet facilisis magna.</p>
            </div>
        </div>
    </div>
</body>
</html>