body {
    background-color: #FFFFFF;
}
h1 {
    font-size: 50px;
    color: #1F4F75;
}
h2 {
    color:#1F4F75; 
    font-weight: bold;
    font-style: italic;
}
.headshot {
    background-color:#d6ecef;
    box-shadow: 5px 5px #1F4F75;
    width: 200px;
    margin-bottom: 10px;
}
table, td, tr {
    border:1px solid;
    border-color: #1F4F75;
}
table {
    background-color:#58A2D4;
}
.labels { 
    width: 20px;
    margin-left: 5px;
}
.labels-git {
    width: 40px
}
.hyper {
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.bracketpic {
    width: 150px;
    border: 3px solid #1F4F75;
}