@{
    ViewData["Title"] = "Home Page";
}

<div class="body" style="margin-top: 150px;">
    <h3>Check out some recent dishes!</h3>
    <hr style="width: 50%;">
    @* @{
        foreach(dish in dishes){
            <p><a href="dish/@Model.id">@Model.Name</a> by @Model.Chef</p>
        }
    } *@
</div>
