<!DOCTYPE html>
<html lang="en">
<head>
    @using Validating_Form_Submission.Models
    @model Ninja
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Form</title>
</head>
<body>
    <div class="body">
        <form asp-action="formreturn" asp-controller="Shared" class="form-group" method="POST">
            <span asp-validation-for="FirstName" style="color: red;"></span>
            <label asp-for="FirstName" for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" name="FirstName">
            <span asp-validation-for="LastName" style="color: red;"></span>
            <label asp-for="LastName" for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" name="LastName">
            <span asp-validation-for="Age" style="color: red;"></span>
            <label asp-for="Age" for="Age">Age</label>
            <input asp-for="Age" type="number" class="form-control" name="Age">
            <span asp-validation-for="Email" style="color: red;"></span>
            <label asp-for="Email" for="Email">Email Address</label>
            <input asp-for="Email" type="email" class="form-control" name="Email">
            <span asp-validation-for="Password" style="color: red;"></span>
            <label asp-for="Password" for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" name="Password">
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>