#box1 {
    background-color: whitesmoke; 
    color: lightseagreen; 
    border: 2px solid lightseagreen; 
    border-radius: 15px; 
    width: 5%; 
    text-align: center;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}
#box2 {
    background-color: lightseagreen;
    color: white;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#box3 {
    background-color: royalblue;
    border: black solid 3px;
    color: white;
    box-shadow: 2px 5px black;
    width: 7%;
    text-align: center;
    margin: 5px;
    padding: 5px;
}