body {
    background-color: white;
    display: inline-block;
    align-content: left;

}
.row {
    width: 970px;
    display: inline-flex;
    border: medium;
    border-style: 1px;
    border-color: black;
    align-content: left;
    justify-content: flex-start;
    margin: 20px;
    flex:1;
}
.col {
    width: 200px;
    height: 50px;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
}
.col-2 {
    width: 200px;
    height: 50px;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
}
.col-3 {
    width: 200px;
    height: 50px;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
}