<!DOCTYPE html>
<html lang="en">
<head>
    @using ViewModel_Fun.Models
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Users</title>
</head>
<body>
    <div class="body">
        <h3>Here are some Users!</h3>
        <div class="count">
            @model List<User>
            @foreach(var name in Model){
                <p>@name.FirstName @name.LastName</p>
            }
        </div>
    </div>
</body>
</html>