* {
    border: solid red 1px;
}
.leaddiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    background-color: aquamarine;
}
.subcontainer {
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* NAV */

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /* background-color: slategray; */
}
.navhead {
    width: 1000px;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navmid {
    width: 1000px;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navlow {
    width: 1000px;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* UPPER BODY */

.pagehead {
    width: 800px;
    height: 100px;
    margin-bottom: 50px;
    /* background-color: slategray; */
}
.upperbody {
    height: 300px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;
    /* background-color: slategray; */
} 

/* MASTER FOR COLUMNS  */

.colm {
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MIDBODY */

.midbody {
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;
    /* background-color: slategray; */
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* background-color: slategray; */
}
.footlayer1 {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footlayer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footlayer3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}