<!DOCTYPE html>
<html lang="en">
<head>
    @using ViewModel_Fun.Models
    @model Text
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Message</title>
</head>
<body>
    <div class="body">
        <h1>Here is a Message!</h1>
        <br>
        <br>
        <br>
        <p style="width: 200px;">@Model.paragraph</p>
    </div>
</body>
</html>