<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main_div_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>User Dashboard</title>
</head>
<body>

    <!-- MENU  -->

    <div class="master_menu">
        <div class="left_menu">
            <a class="nav_a" href="/dashboard">DASHBOARD</a><br>
            <a class="nav_a" href="/customers">CUSTOMERS</a><br>
            <a class="nav_a" href="/jobs">PROJECTS</a>
        </div>
        <div class="left_menu_base">
            <a class="nav_a" href="/user/profile">PROFILE</a>
        </div>
    </div>

    <!-- BODY CONTENT -->

    <div class="main_div flex_row">

        <!-- COLUMN LEFT -->

        <div class="col_left">
            <div class="flex_column profile_column justify-content-between">
                <div class="flex_column">
                    <h1>All Current Clients</h1>
                    <div class="flex_row justify-content-between">
                        <label for="search">Search: 
                        <input type="search" name="search"></label>
                        <a class="ml-5" href="/customers/new">Create a New Client</a>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <th>Name</th>
                        <th>Primary Contact</th>
                        <th>Added On</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{customer.display_name}}</td>
                                <td>{{customer.first_name}} {{customer.last_name}}</td>
                                <td>{{customer.created_at.strftime('%A - %B %d, %Y')}}</td>
                                <td><a href="/customers/{{customer.id}}">View/Edit</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- COLUMN RIGHT -->

        <div class="col_right flex_column" style="padding: 10px;">
            <div class="flex_row" style="justify-content: space-between; margin-top: 10px;">
                <h1>Projects</h1>
                <a href="/projects/new" style="margin-left: 100px;">Create New Project</a>
            </div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{project.name}}</td>
                        <td>{{project.start_date ('%A - %B %d, %Y')}}</td>
                        <td>
                            <a href="/contacts/edit/{{project.id}}">View/Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>