<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <title>User Dashboard</title>
</head>
<body>
    <div class="master_menu">
        <div class="left_menu">
            <a class="nav_a" href="/user_dash">DASHBOARD</a><br>
            <a class="nav_a" href="/customers">CUSTOMERS</a><br>
            <a class="nav_a" href="/jobs">PROJECTS</a>
            <!-- <a href="/schedule">Schedule</a><br> -->
        </div>
        <div class="left_menu_base">
            <a class="nav_a" href="/profile">PROFILE</a>
        </div>
    </div>
</body>
</html>