<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/navbar.css')}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main_div_style.css')}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/style.css')}}>
    <title>Customer</title>
</head>
<body>

<!-- MENU -->

    <div class="master_menu">
        <div class="left_menu">
            <a class="nav_a" href="/dashboard">DASHBOARD</a><br>
            <a class="nav_a" href="/contacts/dash">CONTACTS</a><br>

        </div>
        <div class="left_menu_base">
            <a class="nav_a" href="/logout">LOGOUT</a>
        </div>
    </div>

<!-- MAIN DIV -->

    <div class="main_div flex_row">

<!-- LEFT COLUMN -->

        <div class="col_left">

<!-- UPPER LEFT SIDE -->

            <form class="p-3" action="/customers/edit/{{customer.id}}/commit" method="POST">
                <div class="flex_column align-items-start">
                    <div class="flex_column">
                        <label class="h1" for="display_name">Customer Display Name</label>
                        <input type="text" name="display_name" id="display_name" value="{{customer.display_name}}">
                    </div>
                    <div class="flex_column">
                        <div class="live_contacts">
                            <h4><u>Primary Contact</u></h4>
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        {% for primary in primaries %}
                                            {% if primary.customer_id == customer.id %}
                                        <row>
                                            <td>{{primary.first_name}} {{primary.last_name}}</td>
                                            <td>{{primary.phone}}</td>
                                            <td>{{primary.email}}</td>
                                            <td><a href="/contacts/view/{{primary.id}}/primary">View/Edit</a></td>
                                        </row>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_column justify-content-left">
                    <h1 class="h4"><u>Address</u></h1>
                    <label for="address" style="margin-left: 6px">Address:
                    <input name="address" id="address" value="{{address.address}}"></label>
                    <label for="city" style="margin-left:36px;">City:
                    <input name="city" id="city" value="{{address.city}}"></label>
                    <label for="state"  style="margin-left:28px;">State:
                    <input name="state" id="state" minlength="2" maxlength="2" value="{{address.state}}"></label>
                    <label for="zip_code">Zip Code:
                    <input name="zip_code" id="zip_code" minlength="5" maxlength="5" value="{{address.zip_code}}"></label>
                    <label class="h4 mt-4" for="notes"><u>Customer Notes</u></label>
                    <textarea type="text" name="notes" id="notes" class="cust_notes">{{customer.notes}}</textarea><br>
                    <button type="submit">Save Changes</button>
                    <button type="button" class="deletebutton" onclick="popwarning()" style="color:red;">Delete</button>

                    <!-- CUSTOMER DELETION WARNING -->
                    
                    <div class="warningheader">
                        <div class="warning">
                            <h1 style="color: red; font-weight: bolder;">WARNING</h1>
                            <p style="font-weight: bolder;">You are about to delete a customer and all of its addresses, contacts, and projects. Are you sure you would like to proceed?</p>
                            <p style="font-weight: bolder;">THIS ACTION CANNOT BE UNDONE</p>
                            <div class="flex flex-row">
                                <button class="deletecommit" name="delete"><a href="/customer/view/{{customer.id}}/delete/all" style="color: red;">DELETE</a></button>
                                <button class="cancel" onclick="exit()" name="cancel" style="font-weight: bolder;">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LOWER DIV -->

                <div class="lower_profile flex_column">

                </div>
            </form>
        </div>
        <div class="col_right flex_column" style="padding: 10px;">
            <div class="flex_column">
                <div class="flex_row" style="justify-content: space-between; margin-top: 10px;">
                    <h1>Contacts</h1>
                    <a href="/contacts/customers/{{customer.id}}/new">Create New Customer Contact</a>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <th>Full Name</th>
                        <th>Title</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            {% if contact.title_id != 1 %}
                        <tr>
                            <td>{{contact.first_name}} {{contact.last_name}}</td>
                            <td>{{contact.title}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.email}}</td>
                            <td style="width: 130px;" class="text-center">
                                <a href="/contacts/view/{{contact.id}}"><u>View/Edit</u></a><br>
                                {% if contact.title_id != 1 %}
                                <a href="/customers/view/{{customer.id}}/{{contact.id}}/primaryupdate"><u>Make Primary</u></a><br>
                                {% endif %}
                                <a href="/contacts/delete/{{contact.id}}" style="color: red;"><u>Delete</u></a>
                            </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex_row" style="justify-content: space-between; margin-top: 10px;">
                <h1>Projects</h1>
                <a href="/projects/new">Create New Project</a>
            </div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                        {% if project != None %}
                        <tr>
                            <td>{{project.name}}</td>
                            <td>{{project.start_date.strftime('%A - %B %d, %Y')}}</td>
                            <td>{{project.end_date.strftime('%A - %B %d, %Y')}}</td>
                            <td>
                                <a href="/projects/view/{{project.id}}">View/Edit</a><br>
                                <a href="/projects/delete/{{project.id}}" style="color: red;"><u>Delete</u></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script href={{ url_for('static', filename='phones.js')}}></script>
    <script src={{ url_for('static', filename='javascript/warning.js') }}></script>
</body>
</html>