.main_div{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 180px;
    /* border: solid black 1px; */
    height: 100%;
    min-width: 500px;
    justify-content: center;
    align-content: center;
    width: 85%;
}