/* * {
    border: red solid 1px;
} */

.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.flex_column{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.col_left {
    align-items: center;
    border: black solid 1px;
    margin-top: 50px;
}

.col_right {
    width: fit-content;
    border: 1px solid black;
    margin-left: 25px;
    height: 70%;
}

.label {
    font-size: 25px;
}

.parent{}

.child{}

.header{}

.sub_head{}

.project_img{
    width: 225px;
    height: 225px;
    margin-left: 15px;
}

.form{}

.user_info{}

.project_info{}

.profile_column {
    width:600px;
    padding: 15px;
}

.lower_profile {
    padding: 15px;
}

.cust_notes {
    width: 600px;
    height: 200px;
}

.cust_cont_table {
    margin-left: 7%;
    max-height: 300px;
    overflow: scroll;
}
