.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.bodycenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-left-5 {
    margin-left: 5px;
    color: red;
}