body {
    display: inline;
    align-items: center;
}
.row {
    margin: 20px;
    width: auto;
    display: flex;
    flex direction: row;
}
.col {
    width: 200px;
    height: auto;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
    padding: 10px;
}
.col-2 {
    width: 640px;
    height: auto;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
    padding:10px;
}
.col-3 {
    width: 582px;
    height: auto;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
    padding:10px;
}
.col-4 {
    width: 320px;
    height: auto;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
    padding:10px;
}
.col-5 {
    width: 388px;
    height: auto;
    background-color: steelblue;
    margin-inline: 20px;
    text-align: left;
    color: white;
    padding:10px;
}