@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="d-flex flex-row justify-content-between">
            <h1>Login to this Cool Site!</h1>
            <a href="/registration">Register</a>
        </div>
        <form class="form-group" asp-controller="Home" asp-action="Access">
            <span asp-validation-for="Email"></span>
            <label asp-for="Email">Email</label>
            <input class="form-control" type="email" asp-for="Email">
            <span asp-validation-for="Password"></span>
            <label asp-for="Password">Password</label>
            <input class="form-control" type="password" asp-for="Password">
            <button type="submit" class="btn btn-success">Sign in Now</button>
        </form>
    </div>
</body>
</html>